<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>briefing_search_local_update_local</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src=./event_update.js></script>
    <script type="text/javascript" src=./event_select.js></script>
    <script type="text/javascript" src=./event_insert.js></script>
</head>
<body>
<p><span id="debug"></span></p>
<form>
    <p>event_number<input type="text" id="event_number"></p>
    <p>event_numberより情報を取得<input id="btn_select" type="button" value="取得"><p></p>
    <p>finish_flg<input type="text" id="finish_flg"></p>
    <p>division<input type="text" id="division"></p>
    <p>joboffer_number<input type="text" id="joboffer_number"></p>
    <p>event_date<input type="text" id="event_date"></p>

    <p>start_time<input type="text" id="start_time"></p>
    <p>finish_time<input type="text" id="finish_time"></p>
    <p>company_name<input type="text" id="company_name"></p>
    <p>venue null<input type="text" id="venue"></p>
    <p>occupation<input type="text" id="occupation"></p>
    <p>content<input type="text" id="content"></p>

    <p>bring_item<input type="text" id="bring_item"></p>
    <p>briefing_deadline<input type="text" id="briefing_deadline"></p>
    <p>exam_deadline<input type="text" id="exam_deadline"></p>
    <p>workplace<input type="text" id="workplace"></p>
    <p>briefing_number null<input type="text" id="briefing_number"></p>

    <p>exam_number null<input type="text" id="exam_number"></p>
    <p>offer_number null<input type="text" id="offer_number"></p>
    <p>target<input type="text" id="target"></p>
    <p>international_flg<input type="text" id="international_flg"></p>
    <p>disability_flg<input type="text" id="disability_flg"></p>

    <p>supplementary<input type="text" id="supplementary"></p>
    <p>update_date null<input type="text" id="update_date"></p>

    <p>updateを実行<input id="btn_update" type="button" value="送信">
    <p>insertを実行<input id="btn_insert" type="button" value="追加">
</form>
</body>

</html>